---
import Experience from "@components/sections/work-experience/Experience";
import { Card, CardBody, CardHeader } from "@nextui-org/card";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = (async () => {
    const experienceCollection = await getCollection("work-experiences");

    return experienceCollection.map((entry) => ({
        params: { work: entry.id },
        props: { entry },
    }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const {
    data: { company, title, points, timeline, website },
} = entry;
---

<Layout title={`${title} @${company}`}>
    <p class="text-white">{timeline}</p>
    <p class="text-white">{website}</p>
</Layout>
