---
import GradientText from "@components/ui/GradientText";
import Experience from "@components/sections/work-experience/Experience";
---

<section id="work-experience">
    <div
        class="px-3 md:px-10 pt-16 w-full flex flex-col justify-start items-center"
    >
        <h2>
            <GradientText className="text-5xl mb-5"
                >Work Experience</GradientText
            >
        </h2>
        <Experience />
    </div>
</section>
