---
import GradientText from "@components/ui/GradientText";
import { getCollection } from "astro:content";
import WorkSwiper from "./WorkSwiper";

const experienceCollection = await getCollection("work-experiences");
const experiences = experienceCollection
    .map((entry) => entry.data)
    .sort((a, b) => b.position - a.position);
---

<section id="work-experience">
    <div class="px-3 md:px-10 w-full flex flex-col justify-start items-center">
        <h2>
            <GradientText className="text-5xl mb-5 text-center"
                >Work Experience</GradientText
            >
        </h2>
        <WorkSwiper experiences={experiences} client:load />
    </div>
</section>
