---
import GradientText from "@components/ui/GradientText";
import type { sequence } from "astro:middleware";
import { TypeAnimation } from "react-type-animation";
import Skills from "./Skills";
---

<section id="whoami">
    <div class="px-3 md:px-10 w-full flex flex-col justify-start items-center">
        <h2><GradientText className="text-5xl mb-5">Whoami?</GradientText></h2>

        <p
            class="text-star-dust-600 font-semibold text-xl text-center text-pretty mb-3"
        >
            A Senior Full Stack Developer with specialization in Front-End
            Development
        </p>
        <p
            class="text-star-dust-600 font-semibold text-lg w-full md:w-1/2 text-center [&>code]:text-amaranth-500"
        >
            Currently working with <code>ReactJs</code>, <code>ReactNative</code
            >, <code>Expo</code>, and <code>NextJs</code> After building <code
                >Angular</code
            > and <code>.Net</code> Apps for 6 years
        </p>
        <p class="text-star-dust-600 mt-3">✨ framework agnostic ✨ 💅</p>
        <h3 class="text-amaranth-500 font-semibold text-2xl mt-10 mb-2">
            Skills
        </h3>
        <Skills />
    </div>
</section>
